
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .hidden {
    display: none;
  }
  #chat-widget-container {
    position: fixed;
    bottom: 120px;
    right: 20px; /* Adjusted for better alignment */
    width: 386.75px;
    height: 552.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    overflow: hidden;
    z-index: 1000;
    display: none;
    border: 5px solid #cda858;
  }
  #chat-widget-header {
    background-color: #2e66a2;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    height: 60px;
  }
  #chat-widget-header img {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 40px;
  }
  #chat-widget-iframe {
    width: 100%;
    height: calc(100% - 60px);
    border: none;
  }
  #chat-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #cda858;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chat-icon,
  #close-icon {
    width: 60%;
    height: auto;
  }
  #close-icon {
    display: none;
  }
  #popup-text {
    position: fixed;
    bottom: 110px;
    right: 110px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }